*{margin: 0; padding: 0;}

html, body { height: 100%; }

@font-face
{
	font-family: "poetsenone";
	src: url("../fonts/PoetsenOne.ttf") format('truetype');
}

@font-face
{
	font-family: "lachata";
	src: url("../fonts/lachata.ttf") format('truetype');
}

body{
  font-family: lachata;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 20px;
  }

  h1{ font-size: 50px; }

  a{ color: cornflowerblue; text-decoration: none; }

  p{ margin-bottom: 20px; }

  div{ border-radius:  3px; box-shadow:  1px 1px 12px #555; width: 80%; padding: 20px; }

  ul{ margin-left: 10px; }

  img{ border: none; max-width: 100px; max-height: 50px;}

  #main{ margin-left: auto; margin-right: auto; }

  .webiscool{ font-family: poetsenone; font-weight: bold; }

  .title{ font-family: poetsenone; font-weight: bold; font-size: 50px; }

  .code{margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
